@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


@layer utilities {
    .bg-home-light {
      background-image: url('/assets/image/home/home-light.png');
      @apply bg-cover bg-center;
    }
    .dark\:bg-home-dark {
      background-image: url('/assets/image/home/home-dark.png');
    }

    .text-default-100 {
        @apply text-slate-100 dark:text-slate-500;
    }
  }


